h1{
    font-size: 5vw;
}

h2{
    font-size: 2.5vw;
}
h4{
	font-size: 1vw;
}



body {
    background: #333;
}



.prewiu{
    margin: ;
    color: #fc0;
    font-family: "Oswald";
    text-align: center
}

.prewin{
    color: #fc0;
    font-family: "Oswald";
    text-align: center;
}

.thankyou{
    margin: ;
    color: #fc0;
    font-family: "Oswald";
    text-align: center

}


.video{
	width: 50vw;
	height: 33.3333333334vw;
	margin-left:25% ;
	border-radius: 1vw;
}


.btn{
	width: 22vw;
	height: 6vw;
	border-radius: 0.5vw;
	background: #646039;
	transition: 0.2s;
	cursor: pointer;
	font-size: 2.2vw;

}

.btn:hover{
	border-radius: 0;
	background: #5A5738;
}

.btnc{
	margin-left: 28vw;
}



.maink{
	margin-left: 37.5vw;
	width: 22vw;
	height: 6vw;
	border-radius: 0.5vw;
	background: #646039;
	transition: 0.2s;
	cursor: pointer;
	font-size: 2.2vw;
}


.maink:hover{
	margin-left: 37.5vw;
	width: 22vw;
	height: 6vw;
	border-radius:0;
	background: #646039;
	transition: 0.2s;
	cursor: pointer;
	font-size: 2.2vw;
	border-radius: 0;
	background: #5A5738;
}
